.swiper {
  width: 100%;
  height: 100%;
  color: var(--ion-color-medium);
}

.swiper-slide {
  text-align: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button.ok {
  --border-radius: 16px;
  width: 150px;
}
