#rectangle {
    width: 100%;
    height: 35%;
    background: #ffffff;
    border-radius: 20px;

    display: flex;
    /* align-items: center; */
    justify-content: center;

    transform: translateX(-10%);
}

#small-rectangle {
    width: 100%;
    height: 5%;
    background: var(--ion-color-basic);

    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card-header.info {
    color: var(--ion-color-dark-basic);
    text-align: center;
}

#button-rectangle {
    width: 100%;
    height: 10%;
    background: var(--ion-color-opposite);
    border-radius: 20px;

    display: flex;
    align-items: center;

    transform: translateX(85%);
}

ion-button.ok-modal {
    font-size: 20px;
    width: 30%;
    height: 10%;

    --background: var(--ion-color-opposite);
    --border-radius: 20px;
    --box-shadow: none;
    --color: var(--ion-color-dark-basic);

    transform: translateX(-40%);
}

ion-button.ok-modal:hover {
    border: 2px var(--ion-color-dark-basic) solid;
    border-radius: 20px;
}
