ion-modal#settings-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 20px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

  ion-card-content.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
