  /* We import this font from the local .ttf file to support it even if app is offline */
  @font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
  }

  :root {
    --font-roboto: "Roboto-Regular";
    /*
    According to the Ionic documentation we should define the
    same color twice in HEX and RGB format
    More info: https://ionicframework.com/docs/theming/colors
    */
    --color-amber-400-rgb: 227, 168, 65;
    --color-amber-400: #e3a841;
    --color-amber-500-rgb: 200, 148, 57;
    --color-amber-500: #c89439;
    --color-amber-550-rgb: 230, 177, 84;
    --color-amber-550: #e6b154;
    --color-black-rgb: 0, 0, 0;
    --color-black: #000000;
    --color-charcoal-800-rgb: 37, 37, 37;
    --color-charcoal-800: #252525;
    --color-charcoal-900-rgb: 27, 27, 27;
    --color-charcoal-900: #1b1b1b;
    --color-gray-150-rgb: 214, 213, 224;
    --color-gray-150: #d6d5e0;
    --color-gray-200-rgb: 224, 224, 224;
    --color-gray-200: #e0e0e0;
    --color-gray-250-rgb: 222, 225, 231;
    --color-gray-250: #dee1e7;
    --color-gray-275-rgb: 225, 228, 233;
    --color-gray-275: #e1e4e9;
    --color-gray-350-rgb: 195, 198, 203;
    --color-gray-350: #c3c6cb;
    --color-gray-500-rgb: 134, 127, 168;
    --color-gray-500: #867fa8;
    --color-gray-550-rgb: 162, 155, 197;
    --color-gray-550: #a29bc5;
    --color-gray-650-rgb: 63, 63, 63;
    --color-gray-650: #3f3f3f;
    --color-gray-700-rgb: 53, 53, 53;
    --color-gray-700: #353535;
    --color-gray-800-rgb: 42, 42, 42;
    --color-gray-800: #2a2a2a;
    --color-gray-900-rgb: 26, 26, 26;
    --color-gray-900: #1a1a1a;
    --color-gray-925-rgb: #1f1f1f;
    --color-gray-925: #1f1f1f;
    --color-green-300-rgb: 66, 215, 125;
    --color-green-300: #42d77d;
    --color-green-400-rgb: 45, 211, 111;
    --color-green-400: #2dd36f;
    --color-green-500-rgb: 40, 186, 98;
    --color-green-500: #28ba62;
    --color-indigo-200-rgb: 204, 197, 254;
    --color-indigo-200: #ccc5fe;
    --color-indigo-300-rgb: 192, 182, 242;
    --color-indigo-300: #c0b6f2;
    --color-indigo-400-rgb: 169, 160, 213;
    --color-indigo-400: #a9a0d5;
    --color-indigo-450-rgb: 99, 112, 255;
    --color-indigo-450: #6370ff;
    --color-indigo-500-rgb: 82, 96, 255;
    --color-indigo-500: #5260ff;
    --color-indigo-550-rgb: 123, 123, 205;
    --color-indigo-550: #7b7bcd;
    --color-indigo-600-rgb: 72, 84, 224;
    --color-indigo-600: #4854e0;
    --color-indigo-700-rgb: 67, 52, 138;
    --color-indigo-700: #43348a;
    --color-indigo-750-rgb: 94, 79, 167;
    --color-indigo-750: #5e4fa7;
    --color-indigo-775-rgb: 90, 74, 168;
    --color-indigo-775: #5a4aa8;
    --color-indigo-800-rgb: 76, 59, 157;
    --color-indigo-800: #4c3b9d;
    --color-indigo-850-rgb: 117, 101, 197;
    --color-indigo-850: #7565c5;
    --color-indigo-900-rgb: 59, 45, 124;
    --color-indigo-900: #3b2d7c;
    --color-lavender-100-rgb: 236, 233, 255;
    --color-lavender-100: #ece9ff;
    --color-lavender-200-rgb: 206, 203, 224;
    --color-lavender-200: #cecbe0;
    --color-lavender-300-rgb: 175, 176, 221;
    --color-lavender-300: #afb0dd;
    --color-lavender-325-rgb: 183, 184, 224;
    --color-lavender-325: #b7b8e0;
    --color-lavender-350-rgb: 154, 155, 194;
    --color-lavender-350: #9a9bc2;
    --color-lavender-400-rgb: 136, 136, 210;
    --color-lavender-400: #8888d2;
    --color-lavender-450-rgb: 108, 108, 180;
    --color-lavender-450: #6c6cb4;
    --color-lavender-475-rgb: 170, 170, 218;
    --color-lavender-475: #aaaada;
    --color-periwinkle-400-rgb: 161, 161, 214;
    --color-periwinkle-400: #a1a1d6;
    --color-periwinkle-500-rgb: 142, 142, 188;
    --color-periwinkle-500: #8e8ebc;
    --color-purple-600-rgb: 120, 93, 249;
    --color-purple-600: #785df9;
    --color-rose-400-rgb: 237, 87, 107;
    --color-rose-400: #ed576b;
    --color-rose-500-rgb: 235, 68, 90;
    --color-rose-500: #eb445a;
    --color-rose-600-rgb: 207, 60, 79;
    --color-rose-600: #cf3c4f;
    --color-sky-300-rgb: 80, 200, 255;
    --color-sky-300: #50c8ff;
    --color-sky-400-rgb: 61, 194, 255;
    --color-sky-400: #3dc2ff;
    --color-sky-500-rgb: 54, 171, 224;
    --color-sky-500: #36abe0;
    --color-teal-550-rgb: 60, 155, 158;
    --color-teal-550: #3c9b9e;
    --color-teal-600-rgb: 53, 136, 139;
    --color-teal-600: #35888b;
    --color-teal-650-rgb: 80, 165, 168;
    --color-teal-650: #50a5a8;
    --color-violet-100-rgb: 209, 203, 254;
    --color-violet-100: #d1cbfe;
    --color-violet-200-rgb: 198, 189, 243;
    --color-violet-200: #c6bdf3;
    --color-violet-25-rgb: 244, 243, 255;
    --color-violet-25: #f4f3ff;
    --color-violet-250-rgb: 180, 173, 224;
    --color-violet-250: #b4ade0;
    --color-violet-450-rgb: 152, 144, 191;
    --color-violet-450: #9890bf;
    --color-violet-480-rgb: 134, 109, 250;
    --color-violet-480: #866dfa;
    --color-violet-50-rgb: 243, 242, 255;
    --color-violet-50: #f3f2ff;
    --color-violet-580-rgb: 106, 82, 219;
    --color-violet-580: #6a52db;
    --color-violet-600-rgb: 102, 84, 191;
    --color-violet-600: #6654bf;
    --color-violet-75-rgb: 234, 231, 255;
    --color-violet-75: #eae7ff;
    --color-white-rgb: 255, 255, 255;
    --color-white: #ffffff;
    --color-yellow-300-rgb: 255, 202, 34;
    --color-yellow-300: #ffca22;
    --color-yellow-400-rgb: 255, 196, 9;
    --color-yellow-400: #ffc409;
    --color-yellow-500-rgb: 224, 172, 8;
    --color-yellow-500: #e0ac08;
    --color-zinc-300-rgb: 157, 159, 166;
    --color-zinc-300: #9d9fa6;
    --color-zinc-400-rgb: 146, 148, 156;
    --color-zinc-400: #92949c;
    --color-zinc-500-rgb: 128, 130, 137;
    --color-zinc-500: #808289;
    --color-zinc-800-rgb: 56, 58, 62; 
    --color-zinc-800: #383a3e; 
    --color-zinc-900-rgb: 34, 36, 40;
    --color-zinc-900: #222428;
    --color-zinc-950-rgb: 30, 32, 35;
    --color-zinc-950: #1e2023;
  }
