/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

:root {
  /** fonts **/
  --ion-font-family: "Roboto-Regular";

  /** primary **/
  --ion-color-primary: #c0b6f2;
  --ion-color-primary-rgb: 192, 182, 242;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #a9a0d5;
  --ion-color-primary-tint: #c6bdf3;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /** basic group **/
  --ion-color-basic: #c0b6f2;
  --ion-color-basic-rgb: 192, 182, 242;
  --ion-color-basic-contrast: #000000;
  --ion-color-basic-contrast-rgb: 0, 0, 0;
  --ion-color-basic-shade: #a9a0d5;
  --ion-color-basic-tint: #c6bdf3;

  --ion-color-light-basic: #ccc5fe;
  --ion-color-light-basic-rgb: 204, 197, 254;
  --ion-color-light-basic-contrast: #3b2d7c;
  --ion-color-light-basic-contrast-rgb: 0, 0, 0;
  --ion-color-light-basic-shade: #b4ade0;
  --ion-color-light-basic-tint: #d1cbfe;

  --ion-color-transparent-basic: #eae7ff;
  --ion-color-transparent-basic-rgb: 234, 231, 255;
  --ion-color-transparent-basic-contrast: #000000;
  --ion-color-transparent-basic-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-basic-shade: #cecbe0;
  --ion-color-transparent-basic-tint: #ece9ff;

  --ion-color-dark-basic: #4c3b9d;
  --ion-color-dark-basic-rgb: 76, 59, 157;
  --ion-color-dark-basic-contrast: #ffffff;
  --ion-color-dark-basic-contrast-rgb: 255, 255, 255;
  --ion-color-dark-basic-shade: #43348a;
  --ion-color-dark-basic-tint: #5e4fa7;

  --ion-color-background-basic: #f3f2ff;
  --ion-color-background-basic-rgb: 243, 242, 255;
  --ion-color-background-basic-contrast: #000000;
  --ion-color-background-basic-contrast-rgb: 0, 0, 0;
  --ion-color-background-basic-shade: #d6d5e0;
  --ion-color-background-basic-tint: #f4f3ff;

  --ion-color-opposite-basic: #e3a841;
  --ion-color-opposite-basic-rgb: 227, 168, 65;
  --ion-color-opposite-basic-contrast: #000000;
  --ion-color-opposite-basic-contrast-rgb: 0, 0, 0;
  --ion-color-opposite-basic-shade: #c89439;
  --ion-color-opposite-basic-tint: #e6b154;

  --ion-color-less-dark-basic: #6654bf;
  --ion-color-less-dark-basic-rgb: 102, 84, 191;
  --ion-color-less-dark-basic-contrast: #ffffff;
  --ion-color-less-dark-basic-contrast-rgb: 255, 255, 255;
  --ion-color-less-dark-basic-shade: #5a4aa8;
  --ion-color-less-dark-basic-tint: #7565c5;

  --ion-color-blackout-basic: #9890bf;
  --ion-color-blackout-basic-rgb: 152, 144, 191;
  --ion-color-blackout-basic-contrast: #000000;
  --ion-color-blackout-basic-contrast-rgb: 0, 0, 0;
  --ion-color-blackout-basic-shade: #867fa8;
  --ion-color-blackout-basic-tint: #a29bc5;

  --ion-color-ovulation-basic: #3c9b9e;
  --ion-color-ovulation-basic-rgb: 60, 155, 158;
  --ion-color-ovulation-basic-contrast: #ffffff;
  --ion-color-ovulation-basic-contrast-rgb: 255, 255, 255;
  --ion-color-ovulation-basic-shade: #35888b;
  --ion-color-ovulation-basic-tint: #50a5a8;

  --ion-color-calendar-basic: #ffffff;
  --ion-color-calendar-basic-rgb: 255, 255, 255;
  --ion-color-calendar-basic-contrast: #000000;
  --ion-color-calendar-basic-contrast-rgb: 0, 0, 0;
  --ion-color-calendar-basic-shade: #e0e0e0;
  --ion-color-calendar-basic-tint: #ffffff;

  --ion-color-text-basic: #222428;
	--ion-color-text-basic-rgb: 34,36,40;
	--ion-color-text-basic-contrast: #ffffff;
	--ion-color-text-basic-contrast-rgb: 255,255,255;
	--ion-color-text-basic-shade: #1e2023;
	--ion-color-text-basic-tint: #383a3e;

  /* dark group */
  --ion-color-background-dark: #000000;
  --ion-color-background-dark-rgb: 0, 0, 0;
  --ion-color-background-dark-contrast: #ffffff;
  --ion-color-background-dark-contrast-rgb: 255, 255, 255;
  --ion-color-background-dark-shade: #000000;
  --ion-color-background-dark-tint: #1a1a1a;

  --ion-color-transparent-dark: #1f1f1f;
  --ion-color-transparent-dark-rgb: 31, 31, 31;
  --ion-color-transparent-dark-contrast: #ffffff;
  --ion-color-transparent-dark-contrast-rgb: 255, 255, 255;
  --ion-color-transparent-dark-shade: #1b1b1b;
  --ion-color-transparent-dark-tint: #353535;

	--ion-color-light-dark: #7B7BCD;
	--ion-color-light-dark-rgb: 123,123,205;
	--ion-color-light-dark-contrast: #000000;
	--ion-color-light-dark-contrast-rgb: 0,0,0;
	--ion-color-light-dark-shade: #6c6cb4;
	--ion-color-light-dark-tint: #8888d2;

  --ion-color-dark: #afb0dd;
  --ion-color-dark-rgb: 175, 176, 221;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #9a9bc2;
  --ion-color-dark-tint: #b7b8e0;

  --ion-color-less-dark-dark: #505098;
  --ion-color-less-dark-dark-rgb: 80, 80, 152;
  --ion-color-less-dark-dark-contrast: #ffffff;
  --ion-color-less-dark-dark-contrast-rgb: 255, 255, 255;
  --ion-color-less-dark-dark-shade: #464686;
  --ion-color-less-dark-dark-tint: #6262a2;

  --ion-color-dark-dark: #3e3e9f;
  --ion-color-dark-dark-rgb: 62, 62, 159;
  --ion-color-dark-dark-contrast: #ffffff;
  --ion-color-dark-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-dark-shade: #37378c;
  --ion-color-dark-dark-tint: #5151a9;

  --ion-color-blackout-dark: #777797;
  --ion-color-blackout-dark-rgb: 119, 119, 151;
  --ion-color-blackout-dark-contrast: #000000;
  --ion-color-blackout-dark-contrast-rgb: 0, 0, 0;
  --ion-color-blackout-dark-shade: #696985;
  --ion-color-blackout-dark-tint: #8585a1;

  --ion-color-ovulation-dark: #3c9b9e;
  --ion-color-ovulation-dark-rgb: 60, 155, 158;
  --ion-color-ovulation-dark-contrast: #000000;
  --ion-color-ovulation-dark-contrast-rgb: 0, 0, 0;
  --ion-color-ovulation-dark-shade: #35888b;
  --ion-color-ovulation-dark-tint: #50a5a8;

  --ion-color-opposite-dark: #e3a841;
  --ion-color-opposite-dark-rgb: 227, 168, 65;
  --ion-color-opposite-dark-contrast: #000000;
  --ion-color-opposite-dark-contrast-rgb: 0, 0, 0;
  --ion-color-opposite-dark-shade: #c89439;
  --ion-color-opposite-dark-tint: #e6b154;

  --ion-color-calendar-dark: #2a2a2a;
  --ion-color-calendar-dark-rgb: 42, 42, 42;
  --ion-color-calendar-dark-contrast: #ffffff;
  --ion-color-calendar-dark-contrast-rgb: 255, 255, 255;
  --ion-color-calendar-dark-shade: #252525;
  --ion-color-calendar-dark-tint: #3f3f3f;

	--ion-color-text-dark: #DEE1E7;
	--ion-color-text-dark-rgb: 222,225,231;
	--ion-color-text-dark-contrast: #000000;
	--ion-color-text-dark-contrast-rgb: 0,0,0;
	--ion-color-text-dark-shade: #c3c6cb;
	--ion-color-text-dark-tint: #e1e4e9;
}

/* basic group */
.ion-color-basic {
  --ion-color-base: var(--ion-color-basic);
  --ion-color-base-rgb: var(--ion-color-basic-rgb);
  --ion-color-contrast: var(--ion-color-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-basic-shade);
  --ion-color-tint: var(--ion-color-basic-tint);
}

.ion-color-light-basic {
  --ion-color-base: var(--ion-color-light-basic);
  --ion-color-base-rgb: var(--ion-color-light-basic-rgb);
  --ion-color-contrast: var(--ion-color-light-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-basic-shade);
  --ion-color-tint: var(--ion-color-light-basic-tint);
}

.ion-color-transparent-basic {
  --ion-color-base: var(--ion-color-transparent-basic);
  --ion-color-base-rgb: var(--ion-color-transparent-basic-rgb);
  --ion-color-contrast: var(--ion-color-transparent-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-basic-shade);
  --ion-color-tint: var(--ion-color-transparent-basic-tint);
}

.ion-color-dark-basic {
  --ion-color-base: var(--ion-color-dark-basic);
  --ion-color-base-rgb: var(--ion-color-dark-basic-rgb);
  --ion-color-contrast: var(--ion-color-dark-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-basic-shade);
  --ion-color-tint: var(--ion-color-dark-basic-tint);
}

.ion-color-background-basic {
  --ion-color-base: var(--ion-color-background-basic);
  --ion-color-base-rgb: var(--ion-color-background-basic-rgb);
  --ion-color-contrast: var(--ion-color-background-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-basic-shade);
  --ion-color-tint: var(--ion-color-background-basic-tint);
}

.ion-color-opposite-basic {
  --ion-color-base: var(--ion-color-opposite-basic);
  --ion-color-base-rgb: var(--ion-color-opposite-basic-rgb);
  --ion-color-contrast: var(--ion-color-opposite-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-opposite-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-opposite-basic-shade);
  --ion-color-tint: var(--ion-color-opposite-basic-tint);
}

.ion-color-less-dark-basic {
  --ion-color-base: var(--ion-color-less-dark-basic);
  --ion-color-base-rgb: var(--ion-color-less-dark-basic-rgb);
  --ion-color-contrast: var(--ion-color-less-dark-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-less-dark-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-less-dark-basic-shade);
  --ion-color-tint: var(--ion-color-less-dark-basic-tint);
}

.ion-color-blackout-basic {
  --ion-color-base: var(--ion-color-blackout-basic);
  --ion-color-base-rgb: var(--ion-color-blackout-basic-rgb);
  --ion-color-contrast: var(--ion-color-blackout-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blackout-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-blackout-basic-shade);
  --ion-color-tint: var(--ion-color-blackout-basic-tint);
}

.ion-color-ovulation-basic {
  --ion-color-base: var(--ion-color-ovulation-basic);
  --ion-color-base-rgb: var(--ion-color-ovulation-basic-rgb);
  --ion-color-contrast: var(--ion-color-ovulation-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ovulation-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-ovulation-basic-shade);
  --ion-color-tint: var(--ion-color-ovulation-basic-tint);
}

.ion-color-calendar-basic {
  --ion-color-base: var(--ion-color-calendar-basic);
  --ion-color-base-rgb: var(--ion-color-calendar-basic-rgb);
  --ion-color-contrast: var(--ion-color-calendar-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-calendar-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-calendar-basic-shade);
  --ion-color-tint: var(--ion-color-calendar-basic-tint);
}

.ion-color-text-basic {
	--ion-color-base: var(--ion-color-text-basic);
	--ion-color-base-rgb: var(--ion-color-text-basic-rgb);
	--ion-color-contrast: var(--ion-color-text-basic-contrast);
	--ion-color-contrast-rgb: var(--ion-color-text-basic-contrast-rgb);
	--ion-color-shade: var(--ion-color-text-basic-shade);
	--ion-color-tint: var(--ion-color-text-basic-tint);
}

/* dark group */
.ion-color-background-dark {
  --ion-color-base: var(--ion-color-background-dark);
  --ion-color-base-rgb: var(--ion-color-background-dark-rgb);
  --ion-color-contrast: var(--ion-color-background-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-dark-shade);
  --ion-color-tint: var(--ion-color-background-dark-tint);
}

.ion-color-transparent-dark {
  --ion-color-base: var(--ion-color-transparent-dark);
  --ion-color-base-rgb: var(--ion-color-transparent-dark-rgb);
  --ion-color-contrast: var(--ion-color-transparent-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-dark-shade);
  --ion-color-tint: var(--ion-color-transparent-dark-tint);
}

.ion-color-light-dark {
  --ion-color-base: var(--ion-color-light-dark);
  --ion-color-base-rgb: var(--ion-color-light-dark-rgb);
  --ion-color-contrast: var(--ion-color-light-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-dark-shade);
  --ion-color-tint: var(--ion-color-light-dark-tint);
}

.ion-color-dark {
  --ion-color-base: var(--ion-color-dark);
  --ion-color-base-rgb: var(--ion-color-dark-rgb);
  --ion-color-contrast: var(--ion-color-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-shade);
  --ion-color-tint: var(--ion-color-dark-tint);
}

.ion-color-less-dark-dark {
  --ion-color-base: var(--ion-color-less-dark-dark);
  --ion-color-base-rgb: var(--ion-color-less-dark-dark-rgb);
  --ion-color-contrast: var(--ion-color-less-dark-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-less-dark-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-less-dark-dark-shade);
  --ion-color-tint: var(--ion-color-less-dark-dark-tint);
}

.ion-color-dark-dark {
  --ion-color-base: var(--ion-color-dark-dark);
  --ion-color-base-rgb: var(--ion-color-dark-dark-rgb);
  --ion-color-contrast: var(--ion-color-dark-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-dark-shade);
  --ion-color-tint: var(--ion-color-dark-dark-tint);
}

.ion-color-blackout-dark {
  --ion-color-base: var(--ion-color-blackout-dark);
  --ion-color-base-rgb: var(--ion-color-blackout-dark-rgb);
  --ion-color-contrast: var(--ion-color-blackout-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blackout-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-blackout-dark-shade);
  --ion-color-tint: var(--ion-color-blackout-dark-tint);
}

.ion-color-ovulation-dark {
  --ion-color-base: var(--ion-color-ovulation-dark);
  --ion-color-base-rgb: var(--ion-color-ovulation-dark-rgb);
  --ion-color-contrast: var(--ion-color-ovulation-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ovulation-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-ovulation-dark-shade);
  --ion-color-tint: var(--ion-color-ovulation-dark-tint);
}

.ion-color-opposite-dark {
  --ion-color-base: var(--ion-color-opposite-dark);
  --ion-color-base-rgb: var(--ion-color-opposite-dark-rgb);
  --ion-color-contrast: var(--ion-color-opposite-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-opposite-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-opposite-dark-shade);
  --ion-color-tint: var(--ion-color-opposite-dark-tint);
}

.ion-color-calendar-dark {
  --ion-color-base: var(--ion-color-calendar-dark);
  --ion-color-base-rgb: var(--ion-color-calendar-dark-rgb);
  --ion-color-contrast: var(--ion-color-calendar-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-calendar-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-calendar-dark-shade);
  --ion-color-tint: var(--ion-color-calendar-dark-tint);
}

.ion-color-text-dark {
	--ion-color-base: var(--ion-color-text-dark);
	--ion-color-base-rgb: var(--ion-color-text-dark-rgb);
	--ion-color-contrast: var(--ion-color-text-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-text-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-text-dark-shade);
	--ion-color-tint: var(--ion-color-text-dark-tint);
}
