/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

@font-face {
  font-family: "DMSans-Medium";
  src: url("../fonts/DMSans-Medium.ttf");
}

:root {
  /** fonts **/
  --ion-font-family: "DMSans-Medium";

  /** primary **/
  --ion-color-primary: #c0b6f2;
  --ion-color-primary-rgb: 192, 182, 242;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #a9a0d5;
  --ion-color-primary-tint: #c6bdf3;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /** my **/
  --ion-color-basic: #c0b6f2;
  --ion-color-basic-rgb: 192, 182, 242;
  --ion-color-basic-contrast: #000000;
  --ion-color-basic-contrast-rgb: 0, 0, 0;
  --ion-color-basic-shade: #a9a0d5;
  --ion-color-basic-tint: #c6bdf3;

  --ion-color-opposite: #fffdb7;
  --ion-color-opposite-rgb: 255, 253, 183;
  --ion-color-opposite-contrast: #000000;
  --ion-color-opposite-contrast-rgb: 0, 0, 0;
  --ion-color-opposite-shade: #e0dfa1;
  --ion-color-opposite-tint: #fffdbe;

  --ion-color-dark-basic: #4c3b9d;
  --ion-color-dark-basic-rgb: 76, 59, 157;
  --ion-color-dark-basic-contrast: #ffffff;
  --ion-color-dark-basic-contrast-rgb: 255, 255, 255;
  --ion-color-dark-basic-shade: #43348a;
  --ion-color-dark-basic-tint: #5e4fa7;
}

.ion-color-basic {
  --ion-color-base: var(--ion-color-basic);
  --ion-color-base-rgb: var(--ion-color-basic-rgb);
  --ion-color-contrast: var(--ion-color-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-basic-shade);
  --ion-color-tint: var(--ion-color-basic-tint);
}

.ion-color-opposite {
  --ion-color-base: var(--ion-color-opposite);
  --ion-color-base-rgb: var(--ion-color-opposite-rgb);
  --ion-color-contrast: var(--ion-color-opposite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-opposite-contrast-rgb);
  --ion-color-shade: var(--ion-color-opposite-shade);
  --ion-color-tint: var(--ion-color-opposite-tint);
}

.ion-color-dark-basic {
  --ion-color-base: var(--ion-color-dark-basic);
  --ion-color-base-rgb: var(--ion-color-dark-basic-rgb);
  --ion-color-contrast: var(--ion-color-dark-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-basic-shade);
  --ion-color-tint: var(--ion-color-dark-basic-tint);
}
