/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

:root {
  /** fonts **/
  --ion-font-family: "Roboto-Regular";

  /** primary **/
  --ion-color-primary: #c0b6f2;
  --ion-color-primary-rgb: 192, 182, 242;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #a9a0d5;
  --ion-color-primary-tint: #c6bdf3;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /** basic group **/
  --ion-color-basic: #c0b6f2;
  --ion-color-basic-rgb: 192, 182, 242;
  --ion-color-basic-contrast: #000000;
  --ion-color-basic-contrast-rgb: 0, 0, 0;
  --ion-color-basic-shade: #a9a0d5;
  --ion-color-basic-tint: #c6bdf3;

  --ion-color-light-basic: #ccc5fe;
  --ion-color-light-basic-rgb: 204, 197, 254;
  --ion-color-light-basic-contrast: #3b2d7c;
  --ion-color-light-basic-contrast-rgb: 0, 0, 0;
  --ion-color-light-basic-shade: #b4ade0;
  --ion-color-light-basic-tint: #d1cbfe;

  --ion-color-transparent-basic: #eae7ff;
  --ion-color-transparent-basic-rgb: 234, 231, 255;
  --ion-color-transparent-basic-contrast: #000000;
  --ion-color-transparent-basic-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-basic-shade: #cecbe0;
  --ion-color-transparent-basic-tint: #ece9ff;

  --ion-color-dark-basic: #4c3b9d;
  --ion-color-dark-basic-rgb: 76, 59, 157;
  --ion-color-dark-basic-contrast: #ffffff;
  --ion-color-dark-basic-contrast-rgb: 255, 255, 255;
  --ion-color-dark-basic-shade: #43348a;
  --ion-color-dark-basic-tint: #5e4fa7;

  --ion-color-background-basic: #f3f2ff;
  --ion-color-background-basic-rgb: 243, 242, 255;
  --ion-color-background-basic-contrast: #000000;
  --ion-color-background-basic-contrast-rgb: 0, 0, 0;
  --ion-color-background-basic-shade: #d6d5e0;
  --ion-color-background-basic-tint: #f4f3ff;

  --ion-color-opposite-basic: #e3a841;
  --ion-color-opposite-basic-rgb: 227, 168, 65;
  --ion-color-opposite-basic-contrast: #000000;
  --ion-color-opposite-basic-contrast-rgb: 0, 0, 0;
  --ion-color-opposite-basic-shade: #c89439;
  --ion-color-opposite-basic-tint: #e6b154;

  --ion-color-less-dark-basic: #6654bf;
  --ion-color-less-dark-basic-rgb: 102, 84, 191;
  --ion-color-less-dark-basic-contrast: #ffffff;
  --ion-color-less-dark-basic-contrast-rgb: 255, 255, 255;
  --ion-color-less-dark-basic-shade: #5a4aa8;
  --ion-color-less-dark-basic-tint: #7565c5;

  --ion-color-blackout-basic: #9890bf;
  --ion-color-blackout-basic-rgb: 152, 144, 191;
  --ion-color-blackout-basic-contrast: #000000;
  --ion-color-blackout-basic-contrast-rgb: 0, 0, 0;
  --ion-color-blackout-basic-shade: #867fa8;
  --ion-color-blackout-basic-tint: #a29bc5;

  --ion-color-ovulation-basic: #3c9b9e;
  --ion-color-ovulation-basic-rgb: 60, 155, 158;
  --ion-color-ovulation-basic-contrast: #ffffff;
  --ion-color-ovulation-basic-contrast-rgb: 255, 255, 255;
  --ion-color-ovulation-basic-shade: #35888b;
  --ion-color-ovulation-basic-tint: #50a5a8;

  /* pink group */
  --ion-color-background-pink: #fff2ff;
  --ion-color-background-pink-rgb: 255, 242, 255;
  --ion-color-background-pink-contrast: #000000;
  --ion-color-background-pink-contrast-rgb: 0, 0, 0;
  --ion-color-background-pink-shade: #e0d5e0;
  --ion-color-background-pink-tint: #fff3ff;

  --ion-color-transparent-pink: #ffe7ff;
  --ion-color-transparent-pink-rgb: 255, 231, 255;
  --ion-color-transparent-pink-contrast: #000000;
  --ion-color-transparent-pink-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-pink-shade: #e0cbe0;
  --ion-color-transparent-pink-tint: #ffe9ff;

  --ion-color-light-pink: #fcc4fc;
  --ion-color-light-pink-rgb: 252, 196, 252;
  --ion-color-light-pink-contrast: #000000;
  --ion-color-light-pink-contrast-rgb: 0, 0, 0;
  --ion-color-light-pink-shade: #deacde;
  --ion-color-light-pink-tint: #fccafc;

  --ion-color-pink: #d8a3d8;
  --ion-color-pink-rgb: 216, 163, 216;
  --ion-color-pink-contrast: #000000;
  --ion-color-pink-contrast-rgb: 0, 0, 0;
  --ion-color-pink-shade: #be8fbe;
  --ion-color-pink-tint: #dcacdc;

  --ion-color-less-dark-pink: #8d3e8d;
  --ion-color-less-dark-pink-rgb: 141, 62, 141;
  --ion-color-less-dark-pink-contrast: #ffffff;
  --ion-color-less-dark-pink-contrast-rgb: 255, 255, 255;
  --ion-color-less-dark-pink-shade: #7c377c;
  --ion-color-less-dark-pink-tint: #985198;

  --ion-color-dark-pink: #942a94;
  --ion-color-dark-pink-rgb: 148, 42, 148;
  --ion-color-dark-pink-contrast: #ffffff;
  --ion-color-dark-pink-contrast-rgb: 255, 255, 255;
  --ion-color-dark-pink-shade: #822582;
  --ion-color-dark-pink-tint: #9f3f9f;

  --ion-color-blackout-pink: #8c698c;
  --ion-color-blackout-pink-rgb: 140, 105, 140;
  --ion-color-blackout-pink-contrast: #ffffff;
  --ion-color-blackout-pink-contrast-rgb: 255, 255, 255;
  --ion-color-blackout-pink-shade: #7b5c7b;
  --ion-color-blackout-pink-tint: #987898;

  --ion-color-ovulation-pink: #3c9b9e;
  --ion-color-ovulation-pink-rgb: 60, 155, 158;
  --ion-color-ovulation-pink-contrast: #000000;
  --ion-color-ovulation-pink-contrast-rgb: 0, 0, 0;
  --ion-color-ovulation-pink-shade: #35888b;
  --ion-color-ovulation-pink-tint: #50a5a8;

  --ion-color-opposite-pink: #e3a841;
  --ion-color-opposite-pink-rgb: 227, 168, 65;
  --ion-color-opposite-pink-contrast: #000000;
  --ion-color-opposite-pink-contrast-rgb: 0, 0, 0;
  --ion-color-opposite-pink-shade: #c89439;
  --ion-color-opposite-pink-tint: #e6b154;

  /* blue group */
  --ion-color-background-blue: #f4f4ff;
  --ion-color-background-blue-rgb: 244, 244, 255;
  --ion-color-background-blue-contrast: #000000;
  --ion-color-background-blue-contrast-rgb: 0, 0, 0;
  --ion-color-background-blue-shade: #d7d7e0;
  --ion-color-background-blue-tint: #f5f5ff;

  --ion-color-transparent-blue: #ebebff;
  --ion-color-transparent-blue-rgb: 235, 235, 255;
  --ion-color-transparent-blue-contrast: #000000;
  --ion-color-transparent-blue-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-blue-shade: #cfcfe0;
  --ion-color-transparent-blue-tint: #ededff;

  --ion-color-light-blue: #cdcdfc;
  --ion-color-light-blue-rgb: 205, 205, 252;
  --ion-color-light-blue-contrast: #000000;
  --ion-color-light-blue-contrast-rgb: 0, 0, 0;
  --ion-color-light-blue-shade: #b4b4de;
  --ion-color-light-blue-tint: #d2d2fc;

  --ion-color-blue: #afb0dd;
  --ion-color-blue-rgb: 175, 176, 221;
  --ion-color-blue-contrast: #000000;
  --ion-color-blue-contrast-rgb: 0, 0, 0;
  --ion-color-blue-shade: #9a9bc2;
  --ion-color-blue-tint: #b7b8e0;

  --ion-color-less-dark-blue: #505098;
  --ion-color-less-dark-blue-rgb: 80, 80, 152;
  --ion-color-less-dark-blue-contrast: #ffffff;
  --ion-color-less-dark-blue-contrast-rgb: 255, 255, 255;
  --ion-color-less-dark-blue-shade: #464686;
  --ion-color-less-dark-blue-tint: #6262a2;

  --ion-color-dark-blue: #3e3e9f;
  --ion-color-dark-blue-rgb: 62, 62, 159;
  --ion-color-dark-blue-contrast: #ffffff;
  --ion-color-dark-blue-contrast-rgb: 255, 255, 255;
  --ion-color-dark-blue-shade: #37378c;
  --ion-color-dark-blue-tint: #5151a9;

  --ion-color-blackout-blue: #777797;
  --ion-color-blackout-blue-rgb: 119, 119, 151;
  --ion-color-blackout-blue-contrast: #000000;
  --ion-color-blackout-blue-contrast-rgb: 0, 0, 0;
  --ion-color-blackout-blue-shade: #696985;
  --ion-color-blackout-blue-tint: #8585a1;

  --ion-color-ovulation-blue: #3c9b9e;
  --ion-color-ovulation-blue-rgb: 60, 155, 158;
  --ion-color-ovulation-blue-contrast: #000000;
  --ion-color-ovulation-blue-contrast-rgb: 0, 0, 0;
  --ion-color-ovulation-blue-shade: #35888b;
  --ion-color-ovulation-blue-tint: #50a5a8;

  --ion-color-opposite-blue: #e3a841;
  --ion-color-opposite-blue-rgb: 227, 168, 65;
  --ion-color-opposite-blue-contrast: #000000;
  --ion-color-opposite-blue-contrast-rgb: 0, 0, 0;
  --ion-color-opposite-blue-shade: #c89439;
  --ion-color-opposite-blue-tint: #e6b154;
}

/* basic group */
.ion-color-basic {
  --ion-color-base: var(--ion-color-basic);
  --ion-color-base-rgb: var(--ion-color-basic-rgb);
  --ion-color-contrast: var(--ion-color-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-basic-shade);
  --ion-color-tint: var(--ion-color-basic-tint);
}

.ion-color-light-basic {
  --ion-color-base: var(--ion-color-light-basic);
  --ion-color-base-rgb: var(--ion-color-light-basic-rgb);
  --ion-color-contrast: var(--ion-color-light-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-basic-shade);
  --ion-color-tint: var(--ion-color-light-basic-tint);
}

.ion-color-transparent-basic {
  --ion-color-base: var(--ion-color-transparent-basic);
  --ion-color-base-rgb: var(--ion-color-transparent-basic-rgb);
  --ion-color-contrast: var(--ion-color-transparent-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-basic-shade);
  --ion-color-tint: var(--ion-color-transparent-basic-tint);
}

.ion-color-dark-basic {
  --ion-color-base: var(--ion-color-dark-basic);
  --ion-color-base-rgb: var(--ion-color-dark-basic-rgb);
  --ion-color-contrast: var(--ion-color-dark-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-basic-shade);
  --ion-color-tint: var(--ion-color-dark-basic-tint);
}

.ion-color-background-basic {
  --ion-color-base: var(--ion-color-background-basic);
  --ion-color-base-rgb: var(--ion-color-background-basic-rgb);
  --ion-color-contrast: var(--ion-color-background-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-basic-shade);
  --ion-color-tint: var(--ion-color-background-basic-tint);
}

.ion-color-opposite-basic {
  --ion-color-base: var(--ion-color-opposite-basic);
  --ion-color-base-rgb: var(--ion-color-opposite-basic-rgb);
  --ion-color-contrast: var(--ion-color-opposite-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-opposite-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-opposite-basic-shade);
  --ion-color-tint: var(--ion-color-opposite-basic-tint);
}

.ion-color-less-dark-basic {
  --ion-color-base: var(--ion-color-less-dark-basic);
  --ion-color-base-rgb: var(--ion-color-less-dark-basic-rgb);
  --ion-color-contrast: var(--ion-color-less-dark-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-less-dark-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-less-dark-basic-shade);
  --ion-color-tint: var(--ion-color-less-dark-basic-tint);
}

.ion-color-blackout-basic {
  --ion-color-base: var(--ion-color-blackout-basic);
  --ion-color-base-rgb: var(--ion-color-blackout-basic-rgb);
  --ion-color-contrast: var(--ion-color-blackout-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blackout-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-blackout-basic-shade);
  --ion-color-tint: var(--ion-color-blackout-basic-tint);
}

.ion-color-ovulation-basic {
  --ion-color-base: var(--ion-color-ovulation-basic);
  --ion-color-base-rgb: var(--ion-color-ovulation-basic-rgb);
  --ion-color-contrast: var(--ion-color-ovulation-basic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ovulation-basic-contrast-rgb);
  --ion-color-shade: var(--ion-color-ovulation-basic-shade);
  --ion-color-tint: var(--ion-color-ovulation-basic-tint);
}

/* pink group */
.ion-color-background-pink {
  --ion-color-base: var(--ion-color-background-pink);
  --ion-color-base-rgb: var(--ion-color-background-pink-rgb);
  --ion-color-contrast: var(--ion-color-background-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-pink-shade);
  --ion-color-tint: var(--ion-color-background-pink-tint);
}

.ion-color-transparent-pink {
  --ion-color-base: var(--ion-color-transparent-pink);
  --ion-color-base-rgb: var(--ion-color-transparent-pink-rgb);
  --ion-color-contrast: var(--ion-color-transparent-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-pink-shade);
  --ion-color-tint: var(--ion-color-transparent-pink-tint);
}

.ion-color-light-pink {
  --ion-color-base: var(--ion-color-light-pink);
  --ion-color-base-rgb: var(--ion-color-light-pink-rgb);
  --ion-color-contrast: var(--ion-color-light-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-pink-shade);
  --ion-color-tint: var(--ion-color-light-pink-tint);
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

.ion-color-less-dark-pink {
  --ion-color-base: var(--ion-color-less-dark-pink);
  --ion-color-base-rgb: var(--ion-color-less-dark-pink-rgb);
  --ion-color-contrast: var(--ion-color-less-dark-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-less-dark-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-less-dark-pink-shade);
  --ion-color-tint: var(--ion-color-less-dark-pink-tint);
}

.ion-color-dark-pink {
  --ion-color-base: var(--ion-color-dark-pink);
  --ion-color-base-rgb: var(--ion-color-dark-pink-rgb);
  --ion-color-contrast: var(--ion-color-dark-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-pink-shade);
  --ion-color-tint: var(--ion-color-dark-pink-tint);
}

.ion-color-blackout-pink {
  --ion-color-base: var(--ion-color-blackout-pink);
  --ion-color-base-rgb: var(--ion-color-blackout-pink-rgb);
  --ion-color-contrast: var(--ion-color-blackout-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blackout-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-blackout-pink-shade);
  --ion-color-tint: var(--ion-color-blackout-pink-tint);
}

.ion-color-ovulation-pink {
  --ion-color-base: var(--ion-color-ovulation-pink);
  --ion-color-base-rgb: var(--ion-color-ovulation-pink-rgb);
  --ion-color-contrast: var(--ion-color-ovulation-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ovulation-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-ovulation-pink-shade);
  --ion-color-tint: var(--ion-color-ovulation-pink-tint);
}

.ion-color-opposite-pink {
  --ion-color-base: var(--ion-color-opposite-pink);
  --ion-color-base-rgb: var(--ion-color-opposite-pink-rgb);
  --ion-color-contrast: var(--ion-color-opposite-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-opposite-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-opposite-pink-shade);
  --ion-color-tint: var(--ion-color-opposite-pink-tint);
}

/* blue group */
.ion-color-background-blue {
  --ion-color-base: var(--ion-color-background-blue);
  --ion-color-base-rgb: var(--ion-color-background-blue-rgb);
  --ion-color-contrast: var(--ion-color-background-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-blue-shade);
  --ion-color-tint: var(--ion-color-background-blue-tint);
}

.ion-color-transparent-blue {
  --ion-color-base: var(--ion-color-transparent-blue);
  --ion-color-base-rgb: var(--ion-color-transparent-blue-rgb);
  --ion-color-contrast: var(--ion-color-transparent-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-blue-shade);
  --ion-color-tint: var(--ion-color-transparent-blue-tint);
}

.ion-color-light-blue {
  --ion-color-base: var(--ion-color-light-blue);
  --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
  --ion-color-contrast: var(--ion-color-light-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-blue-shade);
  --ion-color-tint: var(--ion-color-light-blue-tint);
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-less-dark-blue {
  --ion-color-base: var(--ion-color-less-dark-blue);
  --ion-color-base-rgb: var(--ion-color-less-dark-blue-rgb);
  --ion-color-contrast: var(--ion-color-less-dark-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-less-dark-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-less-dark-blue-shade);
  --ion-color-tint: var(--ion-color-less-dark-blue-tint);
}

.ion-color-dark-blue {
  --ion-color-base: var(--ion-color-dark-blue);
  --ion-color-base-rgb: var(--ion-color-dark-blue-rgb);
  --ion-color-contrast: var(--ion-color-dark-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-blue-shade);
  --ion-color-tint: var(--ion-color-dark-blue-tint);
}

.ion-color-blackout-blue {
  --ion-color-base: var(--ion-color-blackout-blue);
  --ion-color-base-rgb: var(--ion-color-blackout-blue-rgb);
  --ion-color-contrast: var(--ion-color-blackout-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blackout-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blackout-blue-shade);
  --ion-color-tint: var(--ion-color-blackout-blue-tint);
}

.ion-color-ovulation-blue {
  --ion-color-base: var(--ion-color-ovulation-blue);
  --ion-color-base-rgb: var(--ion-color-ovulation-blue-rgb);
  --ion-color-contrast: var(--ion-color-ovulation-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ovulation-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-ovulation-blue-shade);
  --ion-color-tint: var(--ion-color-ovulation-blue-tint);
}

.ion-color-opposite-blue {
  --ion-color-base: var(--ion-color-opposite-blue);
  --ion-color-base-rgb: var(--ion-color-opposite-blue-rgb);
  --ion-color-contrast: var(--ion-color-opposite-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-opposite-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-opposite-blue-shade);
  --ion-color-tint: var(--ion-color-opposite-blue-tint);
}
