#rectangle {
    width: 100%;
    height: 35%;
    background: #ffffff;
    border-radius: 20px;

    display: flex;
    /* align-items: center; */
    justify-content: center;

    transform: translateX(-10%);
}

#small-rectangle {
    width: 100%;
    height: 5%;
    background: rgb(var(--ion-color-basic-rgb));

    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card-header.info {
    color: rgb(var(--ion-color-dark-basic-rgb));
    text-align: center;
}

#button-rectangle {
    width: 100%;
    height: 10%;
    background: rgb(var(--ion-color-opposite-rgb));
    border-radius: 20px;

    display: flex;
    align-items: center;

    transform: translateX(85%);
}

ion-button.ok-modal {
    font-size: 20px;
    width: 20%;

    --background: rgb(var(--ion-color-opposite-rgb));
    --border-radius: 10px;
    --box-shadow: none;
    --color: rgb(var(--ion-color-dark-basic-rgb));
}

ion-button.ok-modal:hover {
    border: 2px rgb(var(--ion-color-dark-basic-rgb)) solid;
    border-radius: 10px;
}
