.mark-modal {
    --height: 30%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.align-center-mark {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-select.mark {
    color: var(--ion-color-dark-basic);
}

ion-modal.choose-date-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.mark-select-header {
    --ion-text-color: var(--ion-color-dark-basic);
    --ion-text-color-rgb: rgb(var(--ion-color-dark-basic-rgb));
}

ion-list.transparent {
    --ion-item-background: transparent;
}

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
