#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.continue-button {
  border: 2px rgb(var(--ion-color-dark-basic-rgb)) solid;
  border-radius: 10px;

  --border-radius: 10px;
  --color: rgb(var(--ion-color-dark-basic-rgb));
  --background: rgb(var(--ion-color-basic-rgb));
}

.continue-button:hover {
  border: 2px rgb(var(--ion-color-dark-basic-rgb)) solid;
  border-radius: 10px;

  --background: rgb(var(--ion-color-dark-basic-rgb));
  --color: rgb(var(--ion-color-basic-rgb));
}

#swiper-rectangle {
  width: 100%;
  height: 45%;
  background: #ffffff;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(10%);
}

#swiper-rectangle-bottom {
  width: 100%;
  height: 50%;
  background: #ffffff;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(20%);
}

#small-rectangle {
  width: 100%;
  height: 15%;
  background: rgb(var(--ion-color-basic-rgb));

  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent-list {
  --ion-item-background: transparent;
}

.img-swiper {
  height: 100px;
  width: auto;
}
