#progress-block {
  width: 300px;
  height: 70px;
  background: var(--ion-color-light);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-progress-bar {
  height: 8px;
  border-radius: 20px;
}

ion-progress-bar.current-progress {
  height: 8px;
  border-radius: 20px;
}

ion-progress-bar::part(progress) {
  border-radius: 20px;
  background: var(--ion-color-dark-basic);
}

ion-progress-bar::part(track) {
  border-radius: 20px;
  background: var(--ion-color-light-basic);
}

ion-progress-bar.current-progress::part(track) {
  border-radius: 20px;
  background: var(--ion-color-transparent-basic);
}

ion-progress-bar::part(stream) {
  border-radius: 20px;
  background: #ffffff;
}

#average-length {
  width: 300px;
  height: 75px;
  background: var(--ion-color-less-dark-basic);
  border-radius: 20px;

  display: flex;
}

#inline-block {
  width: 149px;
  background: var(--ion-color-less-dark-basic);
  border-radius: 20px;

  margin-left: 15px;
  margin-right: 15px;
}

#vertical-line {
  width: 2px;
  height: 55px;
  background: var(--ion-color-light);
}
