.large-card {
    height: 96%;
}

ion-card {
    border-radius: 20px;
    box-shadow: none !important;
}

ion-datetime {
    color: var(--ion-color-dark) !important;
}

ion-button {
    --box-shadow: none;
}

.mark-button {
    --border-radius: 10px;
    --color: var(--ion-color-dark-basic);
    --background: var(--ion-color-opposite);
}

.mark-button:hover {
    border: 2px var(--ion-color-dark-basic) solid;
    border-radius: 10px;
}

.info-button {
    font-size: 10px;

    --border-radius: 10px;
    --color: var(--ion-color-dark-basic);
    --background: #ffffff;
}

.info-button:hover {
    border: 2px var(--ion-color-dark-basic) solid;
    border-radius: 10px;
}

.calendar-button {
    --border-radius: 10px;
}

.calendar-button:hover {
    border-radius: 10px;
    color: var(--ion-color-dark-basic);
}

ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.transparent {
    --ion-item-background: transparent;
}

