ion-datetime::part(calendar-day today) {
  color: rgba(var(--ion-color-dark-basic-rgb));
  border-color: rgba(var(--ion-color-dark-basic-rgb));
  background-color: #fff;
  border-width: 2px;
  font-weight: bold;
}

ion-datetime::part(calendar-day active),
ion-datetime::part(calendar-day active):focus {
  background-color: rgba(var(--ion-color-light-basic-rgb), 0.8);
  color: #060606;
}
