#rectangle-top {
    width: 100%;
    height: 35%;
    background: rgb(var(--ion-color-basic-rgb));
    display: flex;
    align-items: center;
    justify-content: center;
}

#rectangle-bottom {
    width: 100%;
    height: 65%;
    background: rgb(var(--ion-color-light-rgb));
    border-radius: 20px;
}

#circle {
    width: 180px;
    height: 180px;
    background: rgb(var(--ion-color-light-rgb));
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align {
    margin-left: 25%;
    margin-right: 25%;
}

ion-progress-bar {
    height: 60%;
    border-radius: 20px;
}

ion-progress-bar::part(progress) {
    border-radius: 20px;
    background: rgb(var(--ion-color-dark-basic-rgb));
}

ion-progress-bar::part(track) {
    border-radius: 20px;
    background: rgb(var(--ion-color-basic-rgb));
}

ion-progress-bar::part(stream) {
    border-radius: 20px;
    background: #ffffff;
}

.bg-transparent {
    --ion-item-background: transparent;
}

