ion-card {
    height: 96%;
    border-radius: 20px;
    box-shadow: none !important;
}

ion-datetime-button {
    font-size: 19px;
    border-radius: 10px;
    border: 2px #ffffff solid;

    --ion-color-step-300: rgb(var(--ion-color-basic-rgb));
    --ion-text-color: #ffffff;
}

ion-button {
    --border-radius: 10px;
    --box-shadow: none;
    --color: rgb(var(--ion-color-dark-basic-rgb));
    --background: rgb(var(--ion-color-opposite-rgb));
}

ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ion-img {
    max-width: 300px;
    max-height: auto;
    height: auto;
    width: auto;
    object-fit: contain;
}
