ion-tab-bar {
  height: 30px;
  border: 0;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  box-shadow: 0 -6px 6px 0 rgb(0, 0, 0, 0.25);
}

ion-tab-button {
  background: var(--ion-color-light);
  color: var(--ion-color-dark-basic);
  border: 1px var(--ion-color-light) solid;
  border-radius: 10px;
  max-width: 30%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 13px;
  height: 25px;

  --color-selected: var(--ion-color-dark-basic);
}

ion-tab-button.tab-selected {
  background: var(--ion-color-dark-basic);
  color: var(--ion-color-light);
  border: 1px var(--ion-color-dark-basic) solid;
  border-radius: 10px;
  max-width: 30%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 14px;
  height: 25px;

  --color-selected: var(--ion-color-light);
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ion-toolbar {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 -6px 6px 0 rgb(0, 0, 0, 0.25);

  --background: var(--ion-color-transparent-basic);
}

#context-size {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#wide-screen {
  width: 100%;
  max-width: 600px;

  margin-left: auto;
  margin-right: auto;

  height: 100%;
  /* max-height: 700px; */

  box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}

ion-button {
  --box-shadow: none;
}

ion-button.mark-button {
  --border-radius: 16px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  width: 150px;
}

ion-list {
  --ion-item-background: transparent;
}
