ion-title {
    text-align: center;
}

ion-tab-bar {
    height: 30px;
}

ion-tab-button.tab-selected {
    background: #ffffff;
    border: 2px #b6b3c0 solid;
    border-radius: 10px;
    height: 25px;
}
