ion-tab-bar {
  height: 30px;
  border: 0;

  width: 100%;
  max-width: 594px;
  margin: 0 auto;

  border-right: 3px solid rgb(192, 182, 242, 0.4);
  border-left: 3px solid rgb(192, 182, 242, 0.4);
}

ion-tab-button {
  background: var(--ion-color-light);
  color: var(--ion-color-dark-basic);
  border: 1px var(--ion-color-light) solid;
  border-radius: 10px;
  max-width: 100px;
  font-size: 13px;
  height: 25px;

  --color-selected: var(--ion-color-dark-basic);
}

ion-tab-button.tab-selected {
  background: var(--ion-color-dark-basic);
  color: var(--ion-color-light);
  border: 1px var(--ion-color-dark-basic) solid;
  border-radius: 10px;
  max-width: 100px;
  font-size: 14px;
  height: 25px;

  --color-selected: var(--ion-color-light);
}

ion-tab-button.menu-tab {
  background: var(--ion-color-transparent-basic);
  border: var(--ion-color-transparent-basic);
  max-width: 30px;

  margin-left: 15px;
}

ion-tab-button.home-tab {
  margin-left: auto;
}

ion-tab-button.details-tab {
  margin-left: 15px;
  margin-right: 20px;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#context-size {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#wide-screen {
  height: 100%;
  width: 100%;
  max-width: 600px;

  margin-left: auto;
  margin-right: auto;

  border-right: 3px solid rgb(192, 182, 242, 0.4);
  border-left: 3px solid rgb(192, 182, 242, 0.4);
}

#top-space {
  height: 15px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--ion-color-transparent-basic);
  border-right: 3px solid rgb(192, 182, 242, 0.4);
  border-left: 3px solid rgb(192, 182, 242, 0.4);
}

ion-button {
  --box-shadow: none;
}

ion-button.main {
  --border-radius: 16px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  width: 150px;
}

ion-list {
  --ion-item-background: transparent;
}

ion-datetime {
  border-radius: 20px;
}

ion-datetime::part(calendar-day today) {
  color: var(--ion-color-dark-basic);
  border-color: var(--ion-color-dark-basic);
  background-color: #fff;
  border-width: 2px;
  font-weight: bold;
}

ion-datetime::part(calendar-day active),
ion-datetime::part(calendar-day active):focus {
  background-color: rgba(var(--ion-color-light-basic-rgb), 0.7);
  color: var(--ion-color-dark-basic);
}

ion-datetime.edit-calendar::part(calendar-day today) {
  color: var(--ion-color-dark);
  border-color: var(--ion-color-dark);
  background-color: #fff;
  border-width: 2px;
  font-weight: bold;
}

ion-datetime.edit-calendar::part(calendar-day active),
ion-datetime.edit-calendar::part(calendar-day active):focus {
  background-color: rgba(var(--ion-color-medium-rgb), 0.3);
  color: var(--ion-color-dark);
}

ion-datetime.view-calendar::part(calendar-day active),
ion-datetime.view-calendar::part(calendar-day active):focus {
  background-color: var(--ion-color-light);
  color: var(--ion-color-dark);
}
